.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 880px;
  margin: 40px auto 50px;
}
@media screen and (max-width: calc(282px*3 + 17px*2 + 2px)) {
  .profile {
    width: calc(282px*2 + 17px);
  }
}
@media screen and (max-width: calc(282px*2 + 17px + 2px)) {
  .profile {
    flex-direction: column;
    width: 282px;
    margin: 42px auto 36px;
  }
}