.popup__input-error {
  display: flex;
  max-width: 358px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-left: 36px;
  min-height: 30px;
  margin-top: 5px;
}

@media screen and (max-width: 605px) {
  .popup__input-error {
    max-width: 238px;
    margin-left: 22px;
  }
}

/*
Проверил в Pixel Perfect отступ сверху.
Должно быть конечно 33рх, но это кажется слишком низко
когда текст ошибки длинный и переносится на вторую строку.
Он практически касается нижнего инпута. 
Выглядит так себе, поэтому я позволил себе ради красоты отойти от идеала
*/